.App {
  padding: 12px;
  text-align: center;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
